.buttonnew:hover {
    background-color: grey !important;
}
.buttonnew:hover .a {
    fill: white !important;
} 
#calenderImg {
    position: absolute;
    top: 62px !important;
    left: 70px !important; 
}
@media only screen and (max-width: 767px) {
    #calenderImg {
        top: 37px !important;
        left: 47px !important
    }
 }